@model Vybory.Models.Election
@{
    ViewData["Title"] = "EditElection";
}

<head>
    <title>Вибори</title>
</head>

<body>
    <div class="header">
        <a class="left_position" href="@Url.Action("StartAdminPage")">Початкова</a>
    </div>
    <div class="main2">
        <form asp-action="EditElection" class="formclass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Ім'я</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Рік</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourId" class="control-label">Тур</label>
                <input asp-for="TourId" class="form-control" />
                <span asp-validation-for="TourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartVote" class="control-label">Початок голосування</label>
                <input asp-for="StartVote" class="form-control" />
                <span asp-validation-for="StartVote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndVote" class="control-label">Кінець голосування</label>
                <input asp-for="EndVote" class="form-control" />
                <span asp-validation-for="EndVote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-default" />
            </div>
            <br />
            <div class="form-group">
                <a href="@Url.Action("AdminElection", "Admin")">Назад</a>
            </div>
        </form>
    </div>
</body>

