@model Vybory.Models.Address
@{
    ViewData["Title"] = "EditAddress";
}

<head>
    <title>Адреса</title>
</head>

<body>
    <div class="header">
        <a class="left_position" href="@Url.Action("StartAdminPage")">Початкова</a>
    </div>
    <div class="main2">
        <form asp-action="EditAddress" class="formclass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Region" class="control-label">Регіон</label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Town" class="control-label">Місто</label>
                <input asp-for="Town" class="form-control" />
                <span asp-validation-for="Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label">Вулиця</label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseNumber" class="control-label">Номер будинку</label>
                <input asp-for="HouseNumber" class="form-control" />
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-default" />
            </div>
            <br />
            <div class="form-group">
                <a href="@Url.Action("AdminAddress", "Admin")">Назад</a>
            </div>
        </form>
    </div>
</body>

