@model Vybory.Models.District
@{
    ViewData["Title"] = "EditDistrict";
}

<head>
    <title>Округ</title>
</head>

<body>
    <div class="header">
        <a class="left_position" href="@Url.Action("StartAdminPage")">Початкова</a>
    </div>
    <div class="main2">
        <form asp-action="EditDistrict" class="formclass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label">Номер</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Ім'я</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Center" class="control-label">Центр</label>
                <input asp-for="Center" class="form-control" />
                <span asp-validation-for="Center" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressId" class="control-label">Адреса ID</label>
                <input asp-for="AddressId" class="form-control" />
                <span asp-validation-for="AddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-default" />
            </div>
            <br />
            <div class="form-group">
                <a href="@Url.Action("AdminDistrict", "Admin")">Назад</a>
            </div>
        </form>
    </div>
</body>


