
@{
    ViewData["Title"] = "AnyPlanElection";
}

<head>
    <title>Голосування</title>
</head>
<body>
    <div class="header">
        <a class="left_position" href="@Url.Action("Index2", "Home")">Головна</a>
    </div>
    <div class="main">
        <p class="big_title">
            Немає запланованих виборів.
        </p>
        <a href="https://www.president.gov.ua/documents/constitution">Бажаєте почитати Конституцію України?</a>
    </div>
</body>

