
@{
    ViewData["Title"] = "SuccessVote";
}

<head>
    <title>Голосування</title>
</head>
<body>
    <div class="header">
        <a class="left_position" href="@Url.Action("Index2", "Home")">Головна</a>
    </div>
    <div class="main">
        <p class="big_title">
            Ви вже зробили свій вибір
        </p>
        <a href="https://zakon.rada.gov.ua/laws/show/254к/96-вр">Законодавство України</a>
    </div>
</body>

