
@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Головна</title>
</head>
<body>

    <div class="header">
        <a class="left_position" href="@Url.Action("Index2", "Home")">Головна</a>
        <a class="right_position" href="@Url.Action("VoteResults", "Vote")">Результати Виборів</a><br />
    </div>
    <div class="main2">

        <div class="big_title">
            <a href="@Url.Action("DistricChermanCitizen", "DistricCherman")">Інформація про громадянинів</a><br />
            <a href="@Url.Action("DistricChermanAppeal", "DistricCherman")">Інформація про заяви</a><br />
        </div>
    </div>
</body>

